extends default

block content
  div.content
    section.title
      h2 #{title}
      span.divider-sm
    section.container
      section.cards.row
        article.col
          figure
            img(src="" alt="first")
          h3
          p