// Colors
$orange: #ff8108;
$grey: #4f4e4d;
$purple: #6f32f8;
$gradient_fill_from: #c165dd;
$gradient_fill_to: #5c27fe;
$gradient_border_from: #7f37f5;
$gradient_border_to: #1bd4db;

// Gradients
@mixin gradient($from, $to, $direction) {
  // Usage: @include gradient($background_color, white, 145deg);
  /* fallback/image non-cover color */
  background-color: $from;
  background-image: -webkit-gradient(
    $direction,
    0% 0%,
    0% 100%,
    from($from),
    to($to)
  );
  background-image: linear-gradient($direction, $from, $to);
}

// Base
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial,
    sans-serif;
  font-size: 100%;
  color: $grey;
}

// Support Grid

.container {
  margin: 0;
  align-items: stretch;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
}
.row {
  flex: 1 100%;
  display: flex;
  flex-direction: col;
}
.col {
  flex: 1 100%;
}

.margin-20 {
  margin: 20px;
}

.padding-20 {
  margin: 20px;
}

// Elements

a.gradient-button {
  @include gradient($gradient_fill_from, $gradient_fill_to, 145deg);
  border-radius: 10px;
  box-sizing: border-box;
  color: $purple;
  display: inline-block;
  margin: 0 auto;
  padding: 2px;
  font-size: 1.125rem;
  position: relative;
  text-decoration: none;
  min-width: 14rem;
  z-index: 2;
  cursor: pointer;

  &:hover {
    color: #fff;
    span {
      background: transparent;
    }
  }

  span {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.3s ease;
    width: 100%;
  }
}

// Header

header {
  height: 65vh;
}
